.section-container{
	width: 100%;
	height: 100%;
	display: table;
}

#section1Row{
	width: 100%;
	height: 100%;

	/*To center*/
	display: table-cell;
	vertical-align: middle;

}
#section1Column{
		transition: filter .4s ease-in-out ;
}

#section1{
	background-image:url(../imgs/backgrounds/img3.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-color: #fff;
	color:black;
}

#section1 h2{
	font-size: 5.5em;
}



#section2{
	background-image:url(../imgs/backgrounds/img2.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
}
#section3{
	/*background-image:url(../imgs/backgrounds/img3.jpg);*/
	background-color: #F2F2F2;
	/*background-size: cover;
	background-position:center;
	background-repeat: no-repeat;*/
}

.primary{
	border:solid .07em black;
	border-radius: 12px;
	width: 25px;
}

#section2Container{
	color:white;
	background-color: rgba(64,64,64,.7);
	padding: 20%;
	padding-top: 0;
	display: table;
}

#skillContent{
	background-color: tomato;
	margin-top: 15%;
}
#aboutTitle{
	margin-top: 5%;
}


#aboutTitle h3{
	font-size: 4em;
}


/*media Queries*/
@media (max-width: 480px) {
	#section2Container{
		padding: 5%;
	}
	#skillContent{
	margin-top: 0;

	}
}