@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2bcegz');
  src:  url('fonts/icomoon.eot?2bcegz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2bcegz') format('truetype'),
    url('fonts/icomoon.woff?2bcegz') format('woff'),
    url('fonts/icomoon.svg?2bcegz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-display:before {
  content: "\e956";
}
.icon-database:before {
  content: "\e964";
}
.icon-performance:before {
  content: "\e991";
}
